h1 {
  font-style: Italic;
  font-size: 80px;
  top: 80;
  bottom: 500px;
  text-align: center;
  background: grey;
  background-size: 5em;
  margin-top: 0em;
}

#nextQuestion {
  font-size: 0.9em;
  width: 80px;
  margin-top: 40px;
  background-color: grey;
  border: black solid 2px;
  font-weight: bolder;
  bottom: 10px;
}

#question {
  font-size: 2em;
  width: auto;
  height: auto;
  position: relative;
  background-size: auto;
}

.correctChoices {
  width: 480px;
  position: relative;
  font-size: 0.7em;
}

.choices {
  width: 480px;
  position: relative;
  right: 0;
  top: 100px;
  padding: 10px;
}

.scoreContainer img {
  position: absolute;
  top: 100px;
  left: 325px;
  width: 100%;
}

.scoreContainer {
  background-size: 10px;
}

body {
  background-color: burlywood;
  background-size: cover;
}

.prog {
  margin-top: 20px;
}
